.row {
	max-width: 75.5rem;
}

/* Genearal Styles */
.inline-list li:first-child {
	margin-left: 0 !important;
}

.nostyle-list {
	list-style: none;
	margin: 0 !important;
}

/* Styles */

/* Genearal Styles */
a {
	color: rgb(0, 102, 204,1);
	text-decoration: none;
}

a:hover {
	color: rgb(0, 120, 241,1);
}

a:visited {
	text-decoration: underline !important;
}
/* Pre code */

pre code{
	display:block;
	margin-bottom: 1.25rem;
}

body{
	font-family: "Merriweather Sans";
	font-weight: 100;
}

/* Font decleration */

h1, h2, h3, h4, h5, h6 {
	color: rgba(0,0,0,0.8);
	font-weight: bold;
	letter-spacing: -1px;
	text-transform: capitalize; 
}

h1.post-title{
	font-size: 3.25rem;
}

p{
	font-family: "Merriweather Sans";
	font-size: 0.9rem;
	line-height: 1.6em;
	color: rgba(0,0,0,0.8);
	font-weight: 100;
}


.article {

}
	.article p{
		font-family: "Merriweather";
		font-size: 1.1rem;
		line-height: 2rem;
		color: rgba(0,0,0,0.8);
		font-weight: 100;
	}

	.article p a{
		color: inherit !important;
		font-style: italic;
		text-decoration: underline;
	}

	.article p a:hover{
		text-decoration: line-through;
	}

	.article p a:visited{
		text-decoration: none;	
	}

	.article ul , .article ol{
		font-family: "Merriweather";
		font-size: 1.1rem;
		line-height: 2rem;
		color: rgba(0,0,0,0.8);
		font-weight: 100;
	}

	.article li {
		margin-bottom: 12px;
	}



.article-heading {
	font-size: 3.4rem;
	letter-spacing: -1.6px;
	line-height: 1;
}

.pages-heading {
	letter-spacing: -1.6px;
	line-height: 1.1;
}

@media only screen and (max-width: 40.0625em) {
	.article-heading {
		font-size: 2rem;
		line-height: 1.2;
	}
}

/* === End of styles */
/* Utlity Classes */
.block {
	display: block;
}

.inline {
	display: inline-block !important;
}

.opaque {
	opacity: 1;
}

.nospace, .nospace-top {
	margin-top: 0 !important;
}

.nospace, .nospace-bottom {
	margin-bottom: 0 !important;
}

.nospace, .nospace-right {
	margin-right: 0 !important;
}

.nospace, .nospace-left {
	margin-left: 0 !important;
}

.padd-0, .padd-0-right {
	padding-right: 0 !important;
}

.padd-0, .padd-0-left {
	padding-left: 0 !important;
}

.padd-0, .padd-0-top {
	padding-top: 0 !important;
}

.padd-0, .padd-0-bottom {
	padding-bottom: 0 !important;
}

.padd-1, .padd-1-right {
	padding-right: 0.5em !important;
}

.padd-1, .padd-1-left {
	padding-left: 0.5em !important;
}

.padd-1, .padd-1-top {
	padding-top: 0.5em !important;
}

.padd-1, .padd-1-bottom {
	padding-bottom: 0.5em !important;
}

.padd-2, .padd-2-right {
	padding-right: 1em !important;
}

.padd-2, .padd-2-left {
	padding-left: 1em !important;
}

.padd-2, .padd-2-top {
	padding-top: 1em !important;
}

.padd-2, .padd-2-bottom {
	padding-bottom: 1em !important;
}

.padd-3, .padd-3-right {
	padding-right: 1.5em !important;
}

.padd-3, .padd-3-left {
	padding-left: 1.5em !important;
}

.padd-3, .padd-3-top {
	padding-top: 1.5em !important;
}

.padd-3, .padd-3-bottom {
	padding-bottom: 1.5em !important;
}

.padd-4, .padd-4-right {
	padding-right: 2em !important;
}

.padd-4, .padd-4-left {
	padding-left: 2em !important;
}

.padd-4, .padd-4-top {
	padding-top: 2em !important;
}

.padd-4, .padd-4-bottom {
	padding-bottom: 2em !important;
}

.push-2, .push-2-right {
	margin-right: 1em !important;
}

.push-2, .push-2-left {
	margin-left: 1em  !important;
}

.push-2, .push-2-top {
	margin-top: 1em  !important;
}

.push-2, .push-2-bottom {
	margin-bottom: 1em  !important;
}

.push-4, .push-4-right {
	margin-right: 2em !important;
}

.push-4, .push-4-left {
	margin-left: 2em !important;
}

.push-4, .push-4-top {
	margin-top: 2em !important;
}

.push-4, .push-4-bottom {
	margin-bottom: 2em !important;
}

/* Border */

.border {
	border-color: rgb(221, 221, 221) !important;
}
	.bt {
		border-top: 1px solid;
	}

	.br {
		border-right: 1px solid;
	}

	.bb {
		border-bottom: 1px solid;
	}

	.bl {
		border-left: 1px solid;
	}


/* Images */
.responsive-image {
    height: 0px;
    overflow: hidden;
    padding-bottom: 54%;
}

img {
	display: block;
	width: 100%;
}

/* Template Styles */

#header {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	min-height: 50px;
	width: 100%;
}

	.logo a {
		background: url('../images/logo.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		display: block;
		height: 70px;
		text-indent: -999px;
		width: 90px;
	}

#footer {
	background: rgba(0,0,0,0.1);
	font-size: 0.83rem;
	font-weight:100;
}

	#footer, #footer a {
		color: rgba(0,0,0,1);
	}

	#footer .link-1 {
		border-color: rgba(255,255,255,1) !important;
	}

	#footer .link-1 a {
		font-weight: 800;
	}

	.friendLinks li {
		display: inline-block;
		float: none;
	}

/* Index Page Tempate */
.featured-post{
	position: relative;
}
	.featured-post-description{
		margin-top: 0px;
		position: absolute;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
	}
